body{
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
  background-size: 100% 100%;
}
#wrapper{
  width:90%;
  height:100%;
  margin:0 auto;
}
#divprods{
  width:19%;height:300px;border:solid #A9E2F3 3px;float:left;margin-right:1%;margin-bottom:1%;
}

.colort{
  background-color:#A9E2F3;
}
.banner{
    width:100%;
    height: 100px;
    background-image: url(../imagenes/banner_phonejapan.jpg);
    background-size: 100% 100%;
    margin-bottom: 5px;
}
.prods_title p{
    color:#0c6ccc;
    font-size: 18px;
    margin-top:8px;
    float:left;
    text-shadow: 0px 1px 0px gray;
    margin-left:10px;
    font-family:'e';
}

#titulo_cesta{
width:90%;height:30px;background-color:lightblue;margin:0 auto;margin-bottom:10px;margin-top:30px;
}

#titulo_cesta h4{
    color:#0c6ccc;
    font-size: 18px;
    margin-top:8px;
    float:left;
    text-shadow: 0px 1px 0px gray;
    margin-left:10px;
    font-family:'e';
}
